<div>
    <h2 id="page-heading">
        <span>Localisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localisation" [routerLink]="['/localisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Localisation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="localisations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Address</span></th>
            <th><span>Code Postal</span></th>
            <th><span>Ville</span></th>
            <th><span>Lieu Dit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localisation of localisations ;trackBy: trackId">
                <td><a [routerLink]="['/localisation', localisation.id, 'view' ]">{{localisation.id}}</a></td>
                <td>{{localisation.address}}</td>
                <td>{{localisation.codePostal}}</td>
                <td>{{localisation.ville}}</td>
                <td>{{localisation.lieuDit}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localisation', localisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'localisation', { outlets: { popup: localisation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
