<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="localisation">
            <h2><span>Localisation</span> {{localisation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{localisation.address}}</span>
                </dd>
                <dt><span>Code Postal</span></dt>
                <dd>
                    <span>{{localisation.codePostal}}</span>
                </dd>
                <dt><span>Ville</span></dt>
                <dd>
                    <span>{{localisation.ville}}</span>
                </dd>
                <dt><span>Lieu Dit</span></dt>
                <dd>
                    <span>{{localisation.lieuDit}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/localisation', localisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
