<div>
    <h2 id="page-heading">
        <span>Garanties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-garantie" [routerLink]="['/garantie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Garantie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="garanties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code Garantie</span></th>
            <th><span>Libelle Garantie</span></th>
            <th><span>Type Franchise</span></th>
            <th><span>Taux Franchise</span></th>
            <th><span>Culture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let garantie of garanties ;trackBy: trackId">
                <td><a [routerLink]="['/garantie', garantie.id, 'view' ]">{{garantie.id}}</a></td>
                <td>{{garantie.codeGarantie}}</td>
                <td>{{garantie.libelleGarantie}}</td>
                <td>{{garantie.typeFranchise}}</td>
                <td>{{garantie.tauxFranchise}}</td>
                <td>
                    <div *ngIf="garantie.culture">
                        <a [routerLink]="['../culture', garantie.culture?.id, 'view' ]" >{{garantie.culture?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/garantie', garantie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/garantie', garantie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'garantie', { outlets: { popup: garantie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
